---
interface Props {
  title?: string;
  description?: string;
  index?: boolean;
}

import favicon from "@/assets/favicon.svg";

const {
  title = "Ethan Turkeltaub",
  description = "The personal website of Brooklyn-based software engineer Ethan Turkeltaub",
  index = true,
} = Astro.props;
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />

<meta name="description" content={description} />

<meta name="generator" content={Astro.generator} />

<meta property="og:url" content={Astro.url} />

<meta property="og:title" content={title} />
<meta property="twitter:title" content={title} />

<meta property="og:description" content={description} />
<meta property="twitter:description" content={description} />

<link rel="icon" type="image/svg+xml" href={favicon.src} />

{!index && <meta name="robots" content="noindex" />}

<title>{title}</title>
